.custom-title {
  text-align: center;
  padding: 3rem;
  font-size: 7rem !important;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .custom-title {
    padding: 2rem;
    font-size: 2rem !important;
    font-weight: bolder;
  }
}
